sudo: required

services:
  - docker

language: rust

cache: cargo

rust:
  - stable

env:
  matrix:
    - CRATE=vhdl_parser PLATFORM=x86_64-unknown-linux-gnu
    - CRATE=vhdl_parser PLATFORM=x86_64-pc-windows-gnu
    - CRATE=vhdl_ls PLATFORM=x86_64-unknown-linux-gnu
    - CRATE=vhdl_ls PLATFORM=x86_64-pc-windows-gnu

matrix:
  fast_finish: tru

install:
  - cargo install cross

script:
  - cross build --package $CRATE --target $PLATFORM
  - cross test --package $CRATE --target $PLATFORM
