sudo: required

services:
  - docker

language: rust

cache: cargo

rust:
  - stable

env:
  matrix:
    - CRATE=vhdl_parser
    - CRATE=vhdl_ls

matrix:
  fast_finish: tru

script:
  - cargo build --package $CRATE
  - cargo test --package $CRATE
  